.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.menu-button {
  color: #bfbfbf;
  width: 100%;
  background: none;
  padding: 10px;
  /* text-align: center; */
}

.menu-button:hover {
  color: #333;
  background: #818181;
  border: none;
  cursor: pointer;
}

.open {
  display: block;
  float: right;
  position: relative;
  bottom: 3px;
  right: 20px;
  font-size: 20px;
  margin-left: 50px;
  font-weight: 700;
  text-align: left;
}

.closed {
  display: none;
}

.menu-head {
  text-align: center;
  border-bottom: 1px solid rgba(175, 175, 175, 0.486);
  margin: 10px;
  color: #fefefe;
}

.menu-head p {
  margin-bottom: 0.4rem;
}

#toggle-menu-btn {
  color: grey;
  font-size: 31px;
  position: relative;
  right: 36px;
  bottom: 6px;
  border-radius: 20px;
  z-index: 100;
  margin: 20px 0 0 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

#toggle-menu-btn:hover {
  /* box-shadow: 0 0 20px black; */
  border: none;
  background: transparent;
  cursor: pointer;
}

.navbarClosed {
  width: 5px;
  background: #343a40 !important;
}

.navbarOpen {
  width: 95px !important;
  background: #343a40 !important;
}

.nav-menu {
  border: "5px solid red";
}
